<div class="row">
    <table class="table">
        <tr  style="border-bottom: ridge;">
            <th style="width: 30%;" >Username</th>
            <th style="width: 40%;">Active Roles</th>
            <th style="width: 30%;"></th>
        </tr>
        <tr *ngFor="let user of users" style="border-bottom: inset;">
            <td>{{user.username}}</td>
            <td>{{user.roles}}</td>
            <td><button (click)="openRolesModal(user)" class="btn btn-info" style="color: black;">Edit Roles</button></td>
        </tr>
    </table>
</div>